#root {
  max-width: 100%;
  /*margin-left: 15%;
    margin-right: 15%;*/
  /*padding: 2rem;
  /*text-align: center;*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input-field {
  width: 300px; 
  padding: 10px;
  margin: 10px 0; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px; 
  font-family: Arial, sans-serif; 
  color: white;
  transition: border-color 0.3s; 

}
.input-field:focus {
  border-color: #493628; 
  outline: none; 
  box-shadow: 0 0 5px rgba(73, 54, 40, 0.5);
}

.edit-button {
  color: #4CAF50; 
  background-color: transparent;
  border: none; 
  cursor: pointer;
  font-size: 16px; 
  padding: 5px; 
  transition: color 0.3s; 
}

.edit-button:hover {
  color: #388E3C;
}

.delete-button {
  color: #F44336; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  font-size: 16px; 
  padding: 5px; 
  transition: color 0.3s; 
}

.delete-button:hover {
  color: #C62828; 
}
.dashboard {
  text-align: center;
  margin: 20px;
}


nav ul {
  list-style: none;
  padding: 0;
  display: inline-block; 
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #493628; /* Your preferred color */
}

nav ul li a:hover {
  color: #AB886D; /* Hover color */
}

/* Center the table in CategoryTable and SkillOffering components */
table {
  margin: 0 auto; /* Center the table */
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border: 1px solid black;
}

.apptxt {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-weight: bold;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 70px;
}

.routetxt {
  position: fixed;
  top: 40px;
  left: 40%;  /* Use 50% for centering */
  transform: translateX(-10%);  /* Center align */
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}



.searchBar {
  margin: 20px;
  margin-bottom: 50px;
}
input{
  width: 200px;
}

