.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    background: #ffc400;
    padding-bottom: 20px;
    border-radius: 5px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 30px;
}
.inputs{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 40px;
    background: #cacaca;
    border-radius: 5px;
}
.input img{
    width: 30px;
    height: 30px;
    margin: 0px 5px;
}

.input input{
    height: 30px;
    width: 350px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 15px;
}

